<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="6fbca21b-d13d-40c4-b220-3b9c568af1e2"
    Publisher="CN=Ahmed"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>TenMicaTestWasdk</DisplayName>
    <PublisherDisplayName>Ahmed</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="TenMicaTestWasdk"
        Description="TenMicaTestWasdk"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>Microsoft.UI.Private.Composition.Effects.dll</Path>
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.OpacityEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.StraightenEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.PosterizeEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.TableTransfer3DEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.PixelShaderEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.EdgeDetectionEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.CropEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.VignetteEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.LuminanceToAlphaEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.DiscreteTransferEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.PointSpecularEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ColorManagementProfile" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.Transform2DEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.CrossFadeEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.DisplacementMapEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.EmbossEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.TurbulenceEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ArithmeticCompositeEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.DpiCompensationEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.TileEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.AlphaMaskEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.LinearTransferEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.SepiaEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ColorMatrixEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.DirectionalBlurEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.UnPremultiplyEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.AtlasEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ShadowEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.GaussianBlurEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ColorSourceEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.HighlightsAndShadowsEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.InvertEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.SpotDiffuseEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.HueToRgbEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.DistantDiffuseEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ContrastEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.BlendEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.TintEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.Transform3DEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.PremultiplyEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.GrayscaleEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ChromaKeyEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.CompositeEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.OpacityMetadataEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ConvolveMatrixEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ScaleEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.BrightnessEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.SpotSpecularEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.MorphologyEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.SaturationEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ExposureEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.TableTransferEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.HueRotationEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.BorderEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.ColorManagementEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.GammaTransferEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.RgbToHueEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.TemperatureAndTintEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.EffectTransferTable3D" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.PointDiffuseEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.DistantSpecularEffect" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.UI.Private.Composition.Effects.SharpenEffect" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>dcompi.dll</Path>
        <ActivatableClass ActivatableClassId="Microsoft.UI.Composition.Private.SystemVisualProxyVisualPrivate" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>
